Vitis2023.1/DRC_Rev2.0_SW/.metadata/
Vitis2023.1/DRC_Rev2.0_SW/RemoteSystemsTempFiles/
Vitis2023.1/DRC_Rev2.0_SW/DRC_Rev2_0_Deliverables_Application_system/_ide/launch/

Vivado2023.1/DRC_Rev2.0_FW/project_1.runs/
