Vitis2023.1/DRC_Rev2.0_SW/.metadata/
Vitis2023.1/DRC_Rev2.0_SW/DRC_Rev2_0_Deliverables_Application_system/_ide/launch/
Vitis2023.1/DRC_Rev2.0_SW/DRCPlatform/export/
Vitis2023.1/DRC_Rev2.0_SW/DRCPlatform/.log/
Vitis2023.1/DRC_Rev2.0_SW/DRCPlatform/logs/
Vitis2023.1/DRC_Rev2.0_SW/IDE.log
Vitis2023.1/DRC_Rev2.0_SW/.analytics

Vivado2023.1/DRC_Rev2.0_FW/project_1.runs/
Vivado2023.1/DRC_Rev2.0_FW/project_1.cache/
Vivado2023.1/DRC_Rev2.0_FW/project_1.gen/
Vivado2023.1/DRC_Rev2.0_FW/project_1.hw/
Vivado2023.1/DRC_Rev2.0_FW/project_1.ip_user_files/
Vivado2023.1/DRC_Rev2.0_FW/.Xil/