# Ignore everything by default
*

# Allow specific file types in any subdirectory
!**/*.tcl
!**/*.xdc
!**/*.v
!**/*.sv
!**/*.vhdl
!**/*.vhd
!**/*.xci
!**/*.bd
!**/*.c
!**/*.cpp
!**/*.h
!**/*.ld
!**/*.xpr
!**/*.xsa
!**/*.yaml

# Allow folders, otherwise Git may not check inside them
!*/

# Allow .gitignore itself to be tracked
!/.gitignore
